<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>631920557121-990lpimjgkpk24q4jl8bi4vgkr3lva89.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631920557121-990lpimjgkpk24q4jl8bi4vgkr3lva89</string>
	<key>API_KEY</key>
	<string>AIzaSyAmsjkHqXBXBoso8q1Ng0TOVZZrss9LAGU</string>
	<key>GCM_SENDER_ID</key>
	<string>631920557121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ch.marcela.ada.Pisth-APT</string>
	<key>PROJECT_ID</key>
	<string>pisth-apt</string>
	<key>STORAGE_BUCKET</key>
	<string>pisth-apt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631920557121:ios:0dee4886396528e6</string>
	<key>DATABASE_URL</key>
	<string>https://pisth-apt.firebaseio.com</string>
</dict>
</plist>