<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>385385038585-135knaqhba5kiqi7jsc9r1dqkj26u16j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385385038585-135knaqhba5kiqi7jsc9r1dqkj26u16j</string>
	<key>API_KEY</key>
	<string>AIzaSyC-dLi72OVzMOKwy5_ctcz30zGC2R4GqLI</string>
	<key>GCM_SENDER_ID</key>
	<string>385385038585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ch.marcela.ada.Pisth</string>
	<key>PROJECT_ID</key>
	<string>pisth-86d6e</string>
	<key>STORAGE_BUCKET</key>
	<string>pisth-86d6e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385385038585:ios:e9adcf15a1f7af73</string>
	<key>DATABASE_URL</key>
	<string>https://pisth-86d6e.firebaseio.com</string>
</dict>
</plist>